.container {
    padding-top: 20px;
}
    
.row {
    margin-bottom: 20px;
    text-align: center;
    color: #FFF;
    font-size: 26px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* -----------------------------------------
 BOX-1
----------------------------------------- */
.box-1 {
    height: 150px;
    line-height: 150px;
    background-color: #AFDFBF;
}

.box-1--bg-color {
    background-color: #68C5B8;
}

/* -----------------------------------------
 BOX-2
----------------------------------------- */
.box-2 {
    height: 320px;
}

.box-2--v-align {
    line-height: 320px;
}

.box-2--bg-color {
    background-color: #FA688A;
}

.box-2__top {
    height: 160px;
    line-height: 160px;
    background-color: #8A95EF;
}

.box-2__bottom {
    height: 140px;
    line-height: 140px;
    background-color: #FFC569;
}

/* -----------------------------------------
 BOX-3
----------------------------------------- */
.box-3 {
    height: 185px;
    line-height: 185px;
    background-color: #588CC7;
}

/* -----------------------------------------
 BOX-4
----------------------------------------- */
.box-4 {
    height: 135px;
    line-height: 135px;
    background-color: #6652AD;
}
